.bundle
db/*.sqlite3*
log/*.log
*.log
tmp/**/*
tmp/*
doc/api
doc/app
*.swp
*~
.DS_Store
bin/*
bin
snafu
autom4te.cache
Makefile
aclocal
automake
config.cache
config.log
config.status
config.status.lineno
configure.lineno
cscope.files
cscope.in.out
cscope.out
cscope.po.out
tags
TAGS
*.o
.deps
